/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;  
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset end*/
.wrap{
    margin: 0 auto;
    max-width: 1080px;
    padding-top: 30px;
}
p,h4,a{
 font-family: "微軟正黑體";
 color:rgb(79, 36, 36);
}
a{
	text-decoration: none;
}
i{
	font-size: 24px;
}
/*navbar*/
nav{
    background: #fff;
}
h1 {
    width: 200px;
    height: 60px;
    white-space: nowrap;
    text-align: 101%;
    overflow: hidden;
}
/*top intro*/
.top{
	display: flex;
	justify-content: center;
	position: relative; 
	width: auto;
	height: 400px;
	background-image: url(images/275196405_130392216175907_5489500955599530248_n.jpg);
}
.top::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
	background-color: rgba(0,0,0,0.5);
} 
h2{
	font-family: 'Kiwi Maru', serif;
	position: relative;
	color: #fff;
	line-height:2;
	font-size: 1.5rem;
	writing-mode: vertical-lr;
	/* vertical-align:-webkit-baseline-middle; */
	padding-top: 40px;
}
/* dailymenu */
.dailymenu{
	background: rgba(79, 36, 36,0.3);
	padding: 30px;
	text-align: center;
}
.dailymenu i{
	font-size: 90px;
	display: block;
	margin: 25px 0 10px 0;
}
.dailymenu ul{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}
.dailymenu a:hover{
	color: #fff;
}
/*newitem*/
#newitem{
	padding: 0 30px;
}
#newitem img{
	height: 500px;
	object-fit: cover;
}
#newitem p{
	color: #fff;
}
/*goods*/
#goods{
	margin: 0 30px;
}
.warning{
	font-size: 16px;
}
.card{
	margin-bottom: 16px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text{
	line-height: 1.5;
}
.card img{
	height: 175px;
	object-fit: cover;
}
h3{
	font-family: 'Kiwi Maru', serif;
	display: flex;
	justify-content: center;
	font-size: 30px;
	margin: 30px 0;
	color: rgb(79, 36, 36);
}
h4{
	font-weight: bold;
	font-size: 20px;
}
h5{
	font-family: 'Kiwi Maru', serif;
	font-size: 24px;
	margin: 16px 0;
	white-space: nowrap;
}
.bread-type{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: rgb(79, 36, 36);
}
.typeline{
	width: 100%;
	height: 2px;
	background:linear-gradient(to left,rgb(79, 36, 36),white);
}
.footer{
	background: rgba(79, 36, 36,0.3);
	margin-top: 30px;
	padding: 30px;
	display: flex;
	flex-direction: column;
}
.footer i{
	font-size: 18px;
}
.footer a{
	margin-bottom: 15px;
}
.footer p{
	font-weight: bold;
	margin-bottom: 16px;
}
.copyright{
	text-align: right;
}
@media (max-width:630px) {
	
	.wrap{
		padding-top: 0;
	}
	.top{
		height: 300px;
	}
	h2{
		font-size: 18px;
	}
	h3{
		font-size: 20px;
	}
	h5{
		font-size: 18px;
	}
	.warning{
		font-size: 10px;
	}
	.dailymenu{
		padding:30px  15px;
		font-size: 12px;
	}
	.dailymenu i{
		font-size: 30px;
		margin: 20px 0 5px 0;
	}
	.dailymenu a{
		font-size: 12px;
	}
	#goods{
		margin: 0 15px;
	}
	.carousel-caption p{
		display: none;
	}
	.card{
		display: flex;
		flex-direction: row;
	}
	.card img{
		width: 120px;
		height: 160px;
		object-fit: cover;
	}
	.card h4{
		font-size: 14px;
	}
	.card p{
		font-size: 11px;
	}
	.footer a{
		font-size: 12px;
	}
	.footer i{
		font-size: 12px;
	}
	.copyright{
		font-size: 14px;
	}
}